* {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: black;
}
form {
    width: 100%;
}


.card-img-top {
    height: 100px;
}

.card {
    width: 100%;
    background-color: aqua;
}

.aqua-bg {
    background-color: aqua;
    width: 100%;
}

.hero-inner {
    z-index: 9999;
}

.nav-link {
    color: white;
}

/* HERO  */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Esconde imagenes por defecto */
.mySlides {
    display: none;
}

/* Botones siquiente anterior */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Posicion del boton */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Al pasar hover, agrega un filtro negro*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* Puntos indicadores  */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Animacion fading */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* HERO END */

.svgImg {
    width: 80px;
}

ul {
    color: black;
}

.upMargin {
    margin-top: -250px;
}

.zOrder {
    z-index: 200;
}

.btn-aqua {
    background-color: aqua;
}